.country{
    border: 2px solid salmon;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 0px 0px #11111150;
    background-color: aqua;
}

.country-visited{
    background-color: rgb(167, 95, 139);
}